// /* Fonts */
$font_body: "Roboto", sans-serif !default;
$font_luxury: "Luxurious Script", cursive !default;

// /* Colors */
$background-color: #000;
$primary-color-1: #181818;
$primary-color-2: #1e1e20;
$primary-color-3: #a1a1a1;
$primary-color-4: #d4d4d4;

$secondary-color-1: #01b121;
$secondary-color-2: #c71717;
$secondary-color-3: #6088d8;
$secondary-color-4: #FFA500;
$secondary-color-5: #004be0;
$secondary-color-6: #fb714c;

$text-color-1: #fff;
$text-color-2: #000;
$text-color-3: #2c2c2c;

$border-color-1: #262528;

$guest-background-color: $text-color-1;
$guest-color: $primary-color-1;
$manager-background-color: $secondary-color-1;
$admin-background-color: #e09947;
$super-admin-background-color: $secondary-color-3;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
