@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

html,
body {
  height: 100%;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;

  scrollbar-gutter: stable; // To manage the space for the vertical scrollbar
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh; // For smartphone devices
  max-width: 1440px;
  margin: 0 auto;
  background-color: $primary-color-1;
  color: $text-color-1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @include responsive-desktop {
    padding: 10px 20px;
  }

  @include responsive-large-desktop {
    padding: 10px 30px;
  }
}
