@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

html,
body {
  height: 100%;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $primary-color-1; /* le fond prend toute la largeur */
  color: $text-color-1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement le contenu */
  width: 100%;
  max-width: 1440px;   /* largeur maximale du contenu */
  margin: 0 auto;      /* centre dans la page */
  flex: 1;

  @include responsive-desktop {
    padding: 10px 20px;
  }

  @include responsive-large-desktop {
    padding: 10px 30px;
  }
}
