@use "../utils/variables" as *;
@use "../utils/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font_body !important;
  font-size: 10px;
  font-weight: 400;

  @include responsive-tablet {
    font-size: 11px;
  }

  @include responsive-desktop {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
