@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: $primary-color-4;
  font-size: 0.8rem;
}
