@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;
@use "sass:color";

.room-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid $text-color-1;

  .form-label {
    width: 60px;

    @include responsive-tablet {
      width: 70px;
    }

    @include responsive-desktop {
      width: 80px;
    }
  }

  &__arrival-date {
    &-toggle-group {
      display: flex;
      flex-direction: row;
    }
  }
  &__roomName {
    flex: 1;

    .MuiSelect-select {
      padding: 8px;
    }

    &:hover {
      background-color: $primary-color-4;
    }
  }

  &__departure-date {
    flex: 1;
    &-textField {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .btn_cancel {
      background-color: $primary-color-3;

      &:hover {
        background-color: color.adjust($primary-color-3, $lightness: -20%);
      }
    }

    .btn_add {
      background-color: $secondary-color-1;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-1, $lightness: -20%);
      }
    }

    .btn_modify {
      background-color: $secondary-color-4;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-4, $lightness: -20%);
      }
    }

    .btn_delete {
      background-color: $secondary-color-2;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-2, $lightness: -20%);
      }
    }
  }
}
