@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;
@use "sass:color";

.room-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: $text-color-1;
  padding: 10px;
  border-bottom: 1px solid $text-color-1;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__occupantName {
    flex: 1;
  }

  &__arrival-date {
    flex: 1;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &-label {
      color: $text-color-3;
    }

    &-toggle-group {
      display: flex;
      flex-direction: column;

      .MuiToggleButton-root {
        &.Mui-selected {
          background-color: $secondary-color-3;
          color: $text-color-1;
        }
      }
    }
  }
  &__roomName {
    background-color: $text-color-1;
    color: $primary-color-2;
    flex: 1;

    .MuiSelect-select {
      padding: 8px;
    }

    &:hover {
      background-color: $primary-color-4;
    }
  }

  &__departure-date {
    flex: 1;
    &-textField {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .btn_cancel {
      background-color: $primary-color-3;

      &:hover {
        background-color: color.adjust($primary-color-3, $lightness: -20%);
      }
    }

    .btn_add {
      background-color: $secondary-color-1;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-1, $lightness: -20%);
      }
    }

    .btn_modify {
      background-color: $secondary-color-4;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-4, $lightness: -20%);
      }
    }

    .btn_delete {
      background-color: $secondary-color-2;
      color: $text-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-2, $lightness: -20%);
      }
    }
  }
}
