@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.guest-house-card {
  background-color: $primary-color-2;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid $text-color-1;
    position:relative;

    h2 {
      margin: 0;
    }

    .guest-house-card__header-icon {
      color: $text-color-1;
      position:absolute;
      right:10px;
    }

    .guest-house-card__header-icon:hover {
      color: $secondary-color-3;
    }
  }


}
