@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &-userName {
      display: none;
      font-size: 0.8rem;

      @include responsive-tablet {
        display: flex;
      }
    }

    &-role {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      aspect-ratio: 1;
      padding: 10px;
    }

    .guest {
      background-color: $guest-background-color;
      color: $guest-color;
    }

    .manager {
      background-color: $manager-background-color;
    }

    .admin {
      background-color: $admin-background-color;
    }
    .super-admin {
      background-color: $super-admin-background-color;
    }
  }

  @include responsive-tablet {
    padding: 15px 30px;
  }

  @include responsive-desktop {
    padding: 20px 30px;
  }
}
