@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
  min-height: 120px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @include responsive-desktop {
    height: 120px;
    min-height: unset;
  }

  .header__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &-title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
      align-items: baseline;

      .header__logo {
        width: 2.5rem;

        @include responsive-tablet {
          width: 3.5rem;
        }
      }
    }

    h1 {
      font-size: 1.8rem;
      @include responsive-tablet {
        font-size: 2.5rem;
      }
    }

    h2 {
      font-family: $font_luxury !important;
      font-weight: 400;
      font-size: 1.9rem;

      @include responsive-tablet {
        font-size: 2.8rem;
      }
      @include responsive-desktop {
        font-size: 4rem;
      }
    }
  }

  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &-language-switcher {
      display: none;

      @include responsive-tablet {
        display: flex;
      }
    }

    &-userName {
      display: none;
      font-size: 0.9rem;

      @include responsive-tablet {
        display: flex;
      }
    }

    &-role {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      aspect-ratio: 1;
      padding: 10px;
    }

    .guest {
      background-color: $guest-background-color;
      color: $guest-color;
    }

    .manager {
      background-color: $manager-background-color;
    }

    .admin {
      background-color: $admin-background-color;
    }
    .super-admin {
      background-color: $super-admin-background-color;
    }
  }

  @include responsive-tablet {
    padding: 20px 30px;
  }

  @include responsive-desktop {
    padding: 25px 30px;
  }
}
