@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.calendar {
  padding: 10px 15px;

  &__room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    &-name{
      font-size: 1.2rem;
    }

    &-info {
      position: absolute;
      right: 0;

      &-icon {
        color: $secondary-color-3;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  &__days {
    padding: 10px 0;
    &-name {
      font-size: 1.1rem;
      font-weight: bold;
    }

    &-date {
      font-size: 0.9rem;
      font-weight: normal;
      height: 15px;
    }
  }

  .today {
    background-color: $text-color-1;
    color: $secondary-color-5;
  }
}
