@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.calendar {
  padding: 10px 15px;

  table {
    width: 100%;
    table-layout: fixed;
  }

  &__days {
    padding:10px 0;
    &-name {
      font-size: 1.1rem;
      font-weight: bold;
    }

    &-date {
      font-size: 0.9rem;
      font-weight: normal;
      height: 15px;
    }
  }

  .today {
    background-color: $text-color-1;
    color: $secondary-color-5;
  }
}
